---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="RDesign Portfolio"
  description="Portfolio de Rodrigo Martínez, Diseñador Gráfico y Animador"
>
    <div class="py-5 bg-[url(/gradient.svg)]">
        <div><p>Hola, soy Rodrigo Martínez, Diseñador Gráfico y Animador. Me encanta crear y compartir experiencias creativas.</p></div>
    </div>
</BaseLayout>
