---
import { Icon } from "astro-icon/components";
---

<div
  class="card bg-base-100 card-sm outline outline-neutral basis-1/4 transition-transform duration-300 hover:scale-102 hover:shadow-md shadow-neutral"
  data-aos="fade-right"
>
  <div class="card-body">
    <h2 class="card-title text-3xl" data-aos="fade-right">
      <Icon name="mdi:account" size="30" class="inline-block mr-2" />
      Sobre Mí
    </h2>
    <div>
      <p class="text-xl lg:text-2xl my-4" data-aos="fade-right" data-aos-delay="200">
        Soy diseñador gráfico con enfoque en branding, diseño editorial y diseño
        de información, apasionado por traducir ideas en imágenes claras,
        potentes y funcionales. Me especializo en el uso de herramientas como
        Photoshop, Illustrator, InDesign, FontLab y Canva, y tengo una fuerte
        afinidad por el trabajo tipográfico.
      </p>
      <div>
        <p class="text-2xl my-4 hidden 2xl:block" data-aos="fade-right" data-aos-delay="300">
          Mi estilo se mueve entre lo minimalista y lo impactante, influenciado
          por corrientes como el vaporwave, el neo pop y el suprematismo,
          buscando siempre una estética que combine estructura con emoción
          visual.
        </p>
        <p class="text-2xl my-4 hidden 2xl:block" data-aos="fade-right" data-aos-delay="400">
          Además de mi rol como diseñador, también me desempeño como profesor de
          animación, Photoshop e Illustrator, lo que refuerza mi compromiso con
          la claridad, la enseñanza y la evolución constante del oficio.
        </p>
        <p class="text-2xl my-4 hidden 2xl:block" data-aos="fade-right" data-aos-delay="500">
          Mi objetivo profesional es seguir desarrollándome en el ámbito
          editorial o en la industria de los videojuegos, dos universos donde el
          diseño no solo decora, sino que comunica, organiza y emociona.
        </p>
      </div>
    </div>
    <div class="justify-end card-actions" data-aos="fade-right">
      <button class="btn btn-secondary">Leer más</button>
    </div>
  </div>
</div>
