<div
  class="card bg-base-100 grid grid-cols-3 grid-rows-2 gap-5 md:flex-row place-content md:row-span-3 md:items-center basis-1/2 outline outline-neutral mt-5 p-3 hover:shadow-lg shadow-neutral place-items-center transition-transform duration-500 ease-in-out hover:scale-102" data-aos="fade-up"
>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up">
      <img src="https://placehold.co/50" />
    </div>
  </div>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up">
      <img src="https://placehold.co/50" />
    </div>
  </div>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up">
      <img src="https://placehold.co/50" />
    </div>
  </div>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up" data-aos-delay="200">
      <img src="https://placehold.co/50" />
    </div>
  </div>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up" data-aos-delay="200">
      <img src="https://placehold.co/50" />
    </div>
  </div>
  <div class="avatar">
    <div class="w-30 rounded-xl" data-aos="fade-up" data-aos-delay="200">
      <img src="https://placehold.co/50" />
    </div>
  </div>
</div>
