---
import { Icon } from "astro-icon/components";
import HeaderLink from './HeaderLink.astro';
---

<nav class="z-index: 2">
  <ul class="menu menu-horizontal px-1 hidden lg:flex text-lg relative z-1">
    <li data-aos="fade-down">
      <HeaderLink href="/" class="flex items-center">
        <Icon name="mdi:home" size="20" />
        Inicio</HeaderLink
      >
    </li>
    <li data-aos="fade-down">
      <HeaderLink href="/about" class="flex items-center">
        <Icon name="mdi:information" size="20" />
        Sobre Mi</HeaderLink
      >
    </li>
    <li data-aos="fade-down">
      <details class="dropdown dropdown-center">
        <summary class="text-lg w-full flex gap-2 cursor-pointer items-center">
          <Icon name="mdi:file-document" size="20" />Proyectos
        </summary>
        <ul tabindex="0" class="dropdown-content z-4 menu shadow bg-secondary rounded-box text-md w-max grid grid-cols-3 grid-rows-3">
          <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Papelería</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Identidad Visual</HeaderLink
            >
                      <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Branding</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Ilustración</HeaderLink
            >
                      <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Editorial</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Social Media</HeaderLink
            >
                      <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Tipografía</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Diseño de Información</HeaderLink
            >
          </li>
        </ul>
      </details>
    </li>
    <li data-aos="fade-down">
      <HeaderLink href="/blog" class="flex items-center">
        <Icon name="mdi:blog" size="20" />
        Blog</HeaderLink
      >
    </li>
        <li data-aos="fade-down">
      <HeaderLink href="/contact" class="flex items-center">
        <Icon name="mdi:contact" size="20" />
        Contacto</HeaderLink
      >
    </li>
  </ul>
</nav>

<!-- MOBILE -->
<nav>
  <ul class="menu menu-vertical lg:hidden text-lg w-full">
    <li data-aos="fade">
      <HeaderLink href="/"><Icon name="mdi:home" size="20" />Inicio</HeaderLink>
    </li>
    <li data-aos="fade">
      <HeaderLink href="/about"><Icon name="mdi:information" size="20" />Sobre Mi</HeaderLink>
    </li>

    <li data-aos="fade">
      <details>
        <summary class="flex items-center gap-2">
          <Icon name="mdi:file-document" size="20" />
          Proyectos
        </summary>
        <ul>
          <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Brading</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Editorial</HeaderLink
            >
          </li>
                    <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Brading</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Editorial</HeaderLink
            >
          </li>
                    <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Brading</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Editorial</HeaderLink
            >
          </li>
                    <li>
            <HeaderLink href="/projects/1">
              <Icon name="mdi:projector-screen" size="20" />
              Brading</HeaderLink
            >
          </li>
          <li>
            <HeaderLink href="/projects/2">
              <Icon name="mdi:projector-screen" size="20" />
              Editorial</HeaderLink
            >
          </li>
        </ul>
      </details>
    </li>
    <li data-aos="fade">
      <HeaderLink href="/blog"><Icon name="mdi:blog" size="20" />Sobre mí</HeaderLink>
    </li>
  </ul>
</nav>
