<section class="py-5">
  <div class="card bg-base-100 flex flex-col lg:grid lg:grid-cols-6 lg:grid-rows-12 lg:gap-5 outline outline-primary m-5 lg:py-5" data-aos="fade">
    <div class="col-span-2 row-span-4 col-start-2 row-start-1 mb-5 lg:mb-0"  data-aos="fade-right">
      <img src="https://placehold.co/1000x1200" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-2 row-span-2 col-start-4 row-start-1 mb-5 lg:mb-0" data-aos="fade-left">
      <img src="https://placehold.co/1000x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-2 row-span-2 col-start-4 row-start-3 mb-5 lg:mb-0" data-aos="fade-left">
      <img src="https://placehold.co/1000x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-2 row-span-2 col-start-2 row-start-5 mb-5 lg:mb-0"  data-aos="fade-right">
            <img src="https://placehold.co/1000x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-2 row-span-4 col-start-4 row-start-5 mb-5 lg:mb-0" data-aos="fade-left">
            <img src="https://placehold.co/1000x1200" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-3 row-span-2 col-start-2 row-start-9 mb-5 lg:mb-0"  data-aos="fade-right">
                  <img src="https://placehold.co/1500x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-2 row-span-2 col-start-2 row-start-7 mb-5 lg:mb-0"  data-aos="fade-right">
            <img src="https://placehold.co/1000x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="col-span-4 row-span-2 col-start-2 row-start-11 mb-5 lg:mb-0"  data-aos="fade-up">
                  <img src="https://placehold.co/2000x600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="row-span-2 col-start-5 row-start-9" data-aos="fade-left">
            <img src="https://placehold.co/600" alt="" class="w-full h-full object-cover  hover:scale-102">
    </div>
    <div class="row-span-12 col-start-1 row-start-1"></div>
    <div class="row-span-12 col-start-6 row-start-1"></div>
  </div>
</section>
