---
import { Icon } from "astro-icon/components";
---

<div class="hidden lg:flex gap-2" data-aos="fade-down">
  <ul class="flex items-center px-1 text-lg">
    <li>
      <button class="btn btn-ghost">
        <a href="#" target="_blank">
          <Icon name="mdi:behance" size="30" />
        </a>
      </button>
    </li>
    <li>
      <button class="btn btn-ghost">
        <a href="#" target="_blank">
          <Icon name="mdi:linkedin" size="30" />
        </a>
      </button>
    </li>
  </ul>
</div>
