---
import { Icon } from "astro-icon/components";
---

<ul class="flex flex-col md:flex-row items-center px-1 text-lg">
    <li>
    <button class="btn btn-ghost">
      <a href="https://github.com/LeivurGargiulo" target="_blank">
        <Icon name="mdi:code" size="30" />
      </a>
    </button>
  </li>
  <li>
    <button class="btn btn-ghost">
      <a href="#" target="_blank">
        <Icon name="mdi:behance" size="30" />
      </a>
    </button>
  </li>
  <li>
    <button class="btn btn-ghost">
      <a href="#" target="_blank">
        <Icon name="mdi:linkedin" size="30" />
      </a>
    </button>
  </li>
  <li>
    <button class="btn btn-ghost">
      <a href="#" target="_blank">
        <Icon name="mdi:email" size="30" />
      </a>
    </button>
  </li>
  <li>
    <button class="btn btn-ghost">
      <a href="#" target="_blank">
        <Icon name="mdi:instagram" size="30" />
      </a>
    </button>
  </li>
  <li>
    <button class="btn btn-ghost">
      <a href="#" target="_blank">
        <Icon name="mdi:youtube" size="30" />
      </a>
    </button>
  </li>
</ul>
