---
import { Icon } from "astro-icon/components";
---

<div
  class="card bg-base-100 card-sm outline outline-neutral basis-1/4 hover:shadow-lg shadow-neutral transition-transform duration-500 ease-in-out hover:scale-102"
  data-aos="fade-right"
>
  <div class="card-body">
    <h1 class="card-title text-3xl" data-aos="fade-right">
      <Icon name="mdi:account" size="30" class="inline-block mr-2" />
      Sobre Mí
    </h1>
      <p class="text-xl lg:text-2xl my-4" data-aos="fade-right" data-aos-delay="200">
        Soy diseñador gráfico con enfoque en branding, diseño editorial y diseño
        de información, apasionado por traducir ideas en imágenes claras,
        potentes y funcionales. Me especializo en el uso de herramientas como
        Photoshop, Illustrator, InDesign, FontLab y Canva, y tengo una fuerte
        afinidad por el trabajo tipográfico.
      </p>
    <div class="justify-end card-actions" data-aos="fade-right">
      <button class="btn btn-secondary"><a href="/about">Leer más</a></button>
    </div>
  </div>
</div>
