---
import AboutMeInfo from "./aboutme/AboutMeInfo.astro";
import AboutMeCategories from "./aboutme/AboutMeCategories.astro";
import AboutMeStack from "./aboutme/AboutMeStack.astro";
---

<section class="flex flex-col xl:flex-row mx-5 gap-5 animate__animated animate__fadeIn place-content-center">
  <AboutMeInfo />
  <div class="basis-1/4">
    <AboutMeCategories />
    <AboutMeStack />
  </div>
</section>
