---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "animate.css";
import "aos/dist/aos.css";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="es" data-theme="rdesign-light">
  <head>
    <BaseHead title="RDesign" description="Portfolio website for RDesign" />
    <title>RDesign</title>
  </head>
  <body class="font-josefin">
    <Header />
    <main class="bg-[url(/gradient.svg)] py-5">
      <slot />
    </main>
    <Footer />
    <script type="module" src="/src/scripts/lenis.js"></script>
    <script src="/src/scripts/aos.js"></script>
  </body>
</html>
